.logo{
    padding: 20px 100px;
}
nav{
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.sectionNews{
display: flex;
justify-content: center;
background-color: #5a1f21;
}
.newsImg{
width: 50%;
}
h1{
    text-align: center;
    width: 250px;
}
.divHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 15px;
}
.sectionPP{
    padding: 20px 50px;
}
