.contactsSection{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #345171;
  border-radius: 5px;
}

iframe{
    /* filter: invert(100%); */
    border-radius: 5px;
    width:600px; 
    height:450px;
}

.contactsDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: white;
}

.contactsDiv h2{
    margin: 5px;
    font-size: 34px;
}

.contactsDiv label{
    margin: 5px 5px 0px 5px;
    align-self: flex-start; 
    font-size: 18px;
    font-weight: bold;
}

.contactsDiv input{
    height: 25px;
    width: 400px;
    border-radius: 20px;
    border-color: transparent;
}

textarea{
    height: 200px;
    width: 400px;
    resize: none;
    border-radius: 5px;
}

.sendEmail{
    width: 400px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
}

.sendEmail:hover{
    background: linear-gradient(-80deg, #345171 50%, #5a1f21 50%);
    color: white;
    border: 2px solid white
}


@media only screen and (max-width:767px){
    
    .contactsSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    iframe{
        height: 300px;
        width: 300px;
    }
    .contactsDiv{
        align-items: center;
    }
    .contactsDiv h2{
        margin: 10px 0px;
        align-self: center;
        font-size: 30px;
    }
    .contactsDiv label{
        margin: 10px 5px 0px 5px;
        align-self: center;
        font-size: 18px;
        font-weight: bold;
    }
    .contactsDiv input{
        height: 25px;
        width: 300px;
        border: 2px solid #5a1f21;
        border-radius: 5px;
        background-color: whitesmoke;
        color: white;
    }
    input::placeholder{
        color: gray;
    }
    input:focus{
        color: white;
    }
    textarea{
        width: 300px;
    }
    .sendEmail{
        width: 300px;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
    .contactsSection{
        gap: 50px;
    }
    iframe{
        height: 500px;
        width: 350px;
    }
    .contactsDiv{
        align-items: center;
    }
    .contactsDiv h2{
        margin: 10px 0px;
        align-self: center;
        font-size: 30px;
    }
    .contactsDiv label{
        margin: 10px 5px 0px 5px;
        align-self: center;
        font-size: 18px;
        font-weight: bold;
    }
    .contactsDiv input{
        height: 25px;
        width: 300px;
        border: 2px solid #5a1f21;
        border-radius: 5px;
        background-color: whitesmoke;
        color: white;
    }
    input::placeholder{
        color: gray;
    }
    input:focus{
        color: white;
    }
    textarea{
        width: 300px;
    }
    .sendEmail{
        width: 300px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1919px)
{
    .contactsSection{
        gap: 50px;
    }
    iframe{
        height: 500px;
        width: 500px;
    }
    .contactsDiv label{
        margin: 15px 5px 0px 5px;
        font-size: 18px;
        font-weight: bold;
    }
    input::placeholder{
        color: gray;
    }
    input:focus{
        color: white;
    }
}