.homeSection{
  display: flex;
  justify-content: center;
  background: linear-gradient(-80deg, #345171 50%, #5a1f21 50%); 
  border-radius: 5px;
  box-shadow: 1px 3px 5px 7px #345171;
}
.homeImg{
  width: 50%;
}
.sectionGraduates{
  margin: 50px 0px;
}
.spanGraduates{
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: bolder;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  } 
}
  
.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}
  
.logos:before,
.logos:after{
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  content: "";
  z-index: 2;
}
  
.logos:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
  
.logos:after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
  
.logos:hover .logos-slide{
  animation-play-state: paused;
}
  
.logos-slide {
  display: inline-block; 
  animation: 20s slide infinite linear;
}
  
.logos-slide img{
  height: 350px;
  width: 500px;
  background-size: cover;
  margin: 0 40px;
}

.imgZ:hover{
  scale: 1.5;
}


.TheTops{
  margin: 50px 0;
  background-color: #345171;
  background-size: cover;
  color: white;
  padding: 2em;
  border-radius: 5px;
}
.TopsTitle{
  padding: 20px;
  margin: 0;
  text-align: center;
  font-size: 48px;
}

li h2{
  margin-bottom: 0.5em;
}
.timeline{
  margin: 5em auto;
  max-width: 34.15em;
  list-style: none;
}
.checkpoint{
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}
.TheTop{
  border: 2px solid #5a1f21;
  border-radius: 1em;
  padding: 1em;
  height: 150px;
}

.checkpoint:nth-child(odd){
  border-left: 3px solid #5a1f21;
  padding-left: 3em;
  transform: translateX(17em);
}

.checkpoint:nth-child(even){
  border-right: 3px solid #5a1f21;
  padding-right: 3em;
  transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before{
  content: '';
  background: #5a1f21;
  width: 3em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before{
  left: 0;
}

.checkpoint:nth-child(even)::before{
  right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before{
  content: '';
  background-color: white;
  box-shadow: 0 0 0 0.5rem #0d71fc;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
  left: -0.55em;
}

.checkpoint:nth-child(even) div::before{
  right: -0.55em;
}

h3{
  margin-bottom: 0px;
}

.checkpoint:nth-child(odd) h3{
  margin-left: 15px;
  text-align: left;
}

.checkpoint:nth-child(even) h3{
  margin-right: 15px;
  text-align: right;
} 

.checkpoint div img{
  margin: 10px;
  width: 125px;
  height: 125px;
  border-radius: 5px;
}
 
.checkpoint:nth-child(odd) div img,
.checkpoint:nth-child(even) div img{
  float: left;
}
/* @media only screen and (max-width:320px)
{
  .TheTops{
    overflow: hidden;
  }
  .TheTop{
    display: flex;
    flex-direction: column;
    border: 2px solid #5a1f21;
    border-radius: 1em;
    padding: 1em;
    min-height: 200px;
    width: 130px;
  }  

  .TheTop:nth-child(even){
    margin-left: 5px;
  }

  .checkpoint:nth-child(odd){
    border-left: 3px solid #5a1f21;
    padding-left: 3em;
    transform: translateX(80px);
    padding-left: 43px;
  }
  
  .checkpoint:nth-child(even){
    border-right: 3px solid #5a1f21;
    padding-right: 3em;
    transform: translateX(-117px);
    padding-left: 142px;
    padding-right:0 ;
  }

  .checkpoint:nth-child(even) h3{
    margin-right: 50px;
    text-align: right;
  } 
  .checkpoint:nth-child(odd) div img,
  .checkpoint:nth-child(even) div img{
    float: left;
    height: 75px;
    width: 75px;
  }
  .TheTop p{
    font-size: 12px;
  }
} */

/*@media only screen and (max-width:767px)  
{  smartphones, Android phones, landscape iPhone 480px 
  .homeSection{
    height: 250px;
  }
  .spanGraduates{
    padding: 15px;
    font-size: 34px;
  }
  .logos {
    overflow: hidden;
    padding: 20px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  .logos-slide img{
    height: 250px;
    width: 400px;
    background-size: cover;
    margin: 0 20px;
  }
  .imgZ:hover{
    scale: 1.1;
  }
  .logos:before,
  .logos:after{
    position: absolute;
    top: 0;
    width: 75px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .TheTops{
    overflow: hidden;
  }
  .TheTop{
    display: flex;
    flex-direction: column;
    border: 2px solid #5a1f21;
    border-radius: 1em;
    padding: 1em;
    min-height: 350px;
    width: 130px;
  }  

  .TheTop:nth-child(even){
    margin-left: 5px;
  }

  .checkpoint:nth-child(odd){
    border-left: 3px solid #5a1f21;
    padding-left: 3em;
    transform: translateX(175px);
    padding-left: 43px;
  }
  
  .checkpoint:nth-child(even){
    border-right: 3px solid #5a1f21;
    padding-right: 3em;
    transform: translateX(-185px);
    padding-left: 142px;
    padding-right:0 ;
  }

  .checkpoint:nth-child(even) h3{
    margin-right: 50px;
    text-align: right;
  } 
}*/ 

@media only screen and (max-width:767px){
  .homeSection{
    height: 250px;
  }
  .homeImg{
    width: 320px;
  }
  .spanGraduates{
    padding: 15px;
    font-size: 34px;
  }
  .logos {
    overflow: hidden;
    padding: 20px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  .logos-slide img{
    height: 250px;
    width: 400px;
    background-size: cover;
    margin: 0 20px;
  }
  .imgZ:hover{
    scale: 1.1;
  }
  .logos:before,
  .logos:after{
    position: absolute;
    top: 0;
    width: 75px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  .TheTops{
    overflow: hidden;
  }
  .TopsTitle{
    padding: 0px;
  }
  .timeline{
    padding: 0px;
  }
  .checkpoint{
    border: none!IMPORTANT;
    padding: 0px!IMPORTANT;
  }
  .checkpoint:nth-child(odd){
    transform: translateX(0px);
  }
  
  .checkpoint:nth-child(even){
    transform: translateX(0px);
  }

  .checkpoint:nth-child(odd) h3,
  .checkpoint:nth-child(even) h3{
    margin-left: 20px;
    text-align: left;
  } 
  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before{
    content: none;
  }
  .checkpoint:nth-child(odd) div::before,
  .checkpoint:nth-child(even) div::before{
    content: none;
  }
  .TheTop{
    padding: 5px;
    min-height: 300px;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px){
  .logos {
    overflow: hidden;
    padding: 20px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  .logos-slide img{
    height: 250px;
    width: 400px;
    background-size: cover;
    margin: 0 20px;
  }
  .imgZ:hover{
    scale: 1.1;
  }
  .logos:before,
  .logos:after{
    position: absolute;
    top: 0;
    width: 75px;
    height: 100%;
    content: "";
    z-index: 2;
  }

  .TheTops{
    overflow: hidden;
  }
  .TheTop{
    max-width: 250px;
    min-height: 250px;
    padding: 1em;
    border: 2px solid #5a1f21;
    border-radius: 1em;
  }  
  .checkpoint:nth-child(odd){
    border-left: 3px solid #5a1f21;
    padding-left: 3em;
    transform: translateX(250px);
  }
  .checkpoint:nth-child(even){
    border-right: 3px solid #5a1f21;
    padding-right: 3em;
    padding-left: 13em;
    transform: translateX(-293px);
  }
  .checkpoint:nth-child(even) h3{
    margin: 0 10px 0 0;
    text-align: right;
  } 
} 

@media only screen and (min-width:1024px) and (max-width:1919px){
  .TheTops{
    overflow: hidden;
  }
  .TheTop{
    max-width: 350px;
    min-height: 200px;
    padding: 1em;
    border: 2px solid #5a1f21;
    border-radius: 1em;
  }  
  .checkpoint:nth-child(odd){
    border-left: 3px solid #5a1f21;
    padding-left: 3em;
    transform: translateX(250px);
  }
  .checkpoint:nth-child(even){
    border-right: 3px solid #5a1f21;
    padding-right: 3em;
    padding-left: 7em;
    transform: translateX(-293px);
  }
  .checkpoint:nth-child(even) h3{
    margin: 0 10px 0 0;
    text-align: right;
  } 
}