body{
    margin: 5px 20px 5px 20px;
    width: 1300px;
}
nav{
    margin: 0px 60px 0px 0px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo{
    margin-right: auto;
    text-transform: uppercase;
    font-weight: bold;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #50b9e1;
}
span{
    color: #50b9e1;
}
.icons{
    fill:black;
    border:1px solid black;
    border-radius: 15px;
    padding: 2px;
}
.mainIcon{
    fill:#50b9e1
}
svg:hover{
    fill: #50b9e1;
}
.kidsBackground{
    
    height: 650px;
    background-image: url(kids_main.jpg);
    background-size: cover;
    padding-left: 20px;
}
.kidsPosition{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.kidsParagrapStyle{
    font-size: 66px;
    color: white;
    font-weight: bold;
}
.kidsParagrapPosition{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top:0px ;
    margin-bottom: 30px;
}
button{
    font-size: 26px;
    background: transparent;
    border:2px solid white;
    color:white;
}
button:hover{
    background: #50b9e1;
    border:2px solid #50b9e1;
    color:white;
}
.welcomeSection{
padding: 50px 35px;
}
.welcomeHeader{
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #5a7c8a;
    letter-spacing: 2px;
}
.welcomeParagraph{
    text-align: center;
    width: 60%;
    margin: 0 250px;
    color: #5a7c8a;
    font-family: Arial, Helvetica, sans-serif;
}
.offeringsSection{
    background-color: #50b9e1;
}
.offeringsHeader
{
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-size: 35px;
    font-style: italic;
}
.offeringsImages{
    width: 75px;
    height: 75px;
}

.offerings{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.offer{
    text-align: center;
    color: white;
    margin: 0 50px;
}
.upcomingCampsSection{
    margin: 0px 0px 40px 0px;
}
.upcomingCampsHeader{
    color: gray;
    text-align: center;
    margin: 40px 0px 20px 0px;
    font-size: 30px;
    font-style: italic;
}
.upcomingCamps{
    color: gray;
    text-align: center;
    padding: 0px 360px;
}
.campImage{
    width: 350px;
    height: 250px;
}
.camp{
        text-align: left;
        color: gray;
        margin: 0 50px;
}
.campDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.campSpan{
    background-color: #43bae3;
    color :white;   
    font-size: 30px;
}
.campButton{
    background: white;
    border:2px solid #50b9e1;
    color:#50b9e1;
}
.footerUL{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer{
    background-color: #43bae3;
}
.footerSpan{
    color: gray;
    margin-right: 920px;
}
.footerIcons{
    fill:gray;
    border:1px solid gray;
    border-radius: 15px;
    padding: 2px;
}
b{
    font-size: 30px;
}